html 
{
  cursor: url('../images/2d_car_images/07.png'), auto;
}

.nav a
{
  color: #292C63;
}

.nav a:hover
{
  color: #FFB439;
}

#home a:hover
{
  color: #292C63;
}

.logo:hover
{
  background: url("../images/home_images/logo_black.png") no-repeat;
  background-position: left;
  background-size: contain;
}

#posters
{
  padding: 0px;
  margin-top: 5em;
  font-family: 'Helvetica';
}



.posters
{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap:2em;
 
}

.poster1
{
  padding: 0px;
  margin: 0px;
  background: url('../images/2d_car_images/01.png') no-repeat;
  background-position:center;
  background-size:contain;
  line-height:25em;
}

.poster2
{
  padding: 0px;
  margin: 0px;
  background: url('../images/2d_car_images/02.png') no-repeat;
  background-position:center;
  background-size:contain;
  line-height:25em;
}

.poster3
{
  padding: 0px;
  margin: 0px;
  background: url('../images/2d_car_images/03.png') no-repeat;
  background-position:center;
  background-size:contain;
  line-height:25em;
}

.poster4
{
  padding: 0px;
  margin: 0px;
  background: url('../images/2d_car_images/05.png') no-repeat;
  background-position:center;
  background-size:contain;
  line-height:25em;
}


.column2
{
  margin-top: 3em;
  padding: 0px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap:3em;
}

.describe_title
{
  font-size: 1.5em;
  font-weight: bold;
  color: orange;
  margin-top: 2em;
  font-family: 'bodoni';
  text-transform: uppercase;
}

.describe_text
{
  line-height: 2em;
}

.text_bold
{
  font-weight: bold;
  text-transform: uppercase;
}

.text_italic
{
  font-style: italic;
}

 