a
{
	color: white;
	text-decoration: none;
	
}

ul
{
	list-style: none;
	padding: 0px;
	margin: 0px;
}

li{line-height: 2em}

iframe
{
	border: none;
	overflow: hidden;
}

body{font-family:'Helvetica';}
 

#wrap
{
	width: 100%;
	height: auto;
	background: #101A43;
}

#header_bg
{
	width: 100%;
	height: auto;
	background: url("../images/atypi2019toyko_images/banner.gif") no-repeat;
	background-size: cover;
	background-position: center;
	padding-bottom:36em;
}


#home
{
	color: #D8C7B0;
}

 

.nav a:hover
{
	color: #D8C7B0;
	text-decoration: underline;
	text-decoration-thickness:0.2em;

}

#home a
{
	color: #D8C7B0;
	text-decoration: underline;
	text-decoration-thickness:0.2em;
}

#home a:hover
{
	color: white;
	text-decoration: none;
}

.logo
{
	background: url("../images/home_images/logo_light_yellow.png") no-repeat;
    background-position: left;
    background-size: contain;
}
 
.logo:hover
{
	background: url("../images/home_images/logo_white.png") no-repeat;
	background-position: left;
    background-size: contain;
 
}

#navs
{
	max-width: 1024px;
	height: auto;
	padding: 0px;
	margin: 0px auto;
	padding-top: 1em;
}

#banner
{
	width:100%;
	height: auto;
	text-align: center;
	color: white;
	font-family:'Helvetica';	
}

.banner_title
{
	color: #D8C7B0;
	font-family: 'atlas';
	font-size:5em;
}

.atlas_title
{
	color: #D8C7B0;
	font-family: 'atlas';
	font-size:3em;
}

.kanagawa_title
{
	color: #D8C7B0;
	font-family: 'atlas';
	font-size:2em;
}


.banner_text
{
	line-height:2em;
	font-size: 1.3em;
}

.banner
{
	display: grid;
	grid-template-columns: auto auto;
	grid-column-gap: 1em;
}

.banner_right
{
	margin-top:6em;
	 
}

 

#project
{
	width: 100%;
	height: auto;
	color: white;
	
}

.objective
{
	max-width: 1024px;
	height: auto;
	margin: 0px auto;
	padding: 1em;

}

#the_great_wave_off_kanagawa
{
	max-width: 1024px;
	height: auto;
	margin: 0px auto;
	padding: 1em;
	margin-top: 5em;
}

.kanagawa_left
{
	grid-area: kanagawa_left;
}

.kanagawa_right
{
	grid-area: kanagawa_right;
}

.the_great_wave_off_kanagawa
{
	display: grid;
	grid-template-columns:repeat(2, 1fr);
	grid-template-areas: "kanagawa_left kanagawa_right";
	grid-column-gap:3em;
}

.kanagawa_left
{
	width: 100%;
	height: auto;
}

.kanagawa_right
{
	width: 100%;
	height: auto;
	background: url("https://mcraftsmanship.com/cdn/shop/articles/Katsushikahokusaipaint_1600x.jpg?v=1636120956") no-repeat;
	background-position: center;
	background-size: cover;
}





#about_bg
{
	width: 100%;
	height: auto;
	padding: 0px;
	margin: 0px;
	background: url("../images/atypi2019toyko_images/about_bg.png") no-repeat;
	background-size: cover;
	background-position: center;
	padding-bottom: 30em;
}

.product_detail
{
	max-width: 1024px;
	height: auto;
	padding: 0px;
	margin: 0px auto;

}

.product_detail_bold
{
	font-weight: bold;
	color: #101C35;
}

#footer
{
    bottom: 0px;
    width: 100%;
    height: auto;
    text-align: center;
    font-family: 'Helvetica';
    src:url("fonts/Helvetica-Bold.ttf");
    text-transform: capitalize; 
    font-size: 1em;
    margin: 0px auto;
    color:#101C35;
    margin-top: 5em;

}

.atlas_title
{
	color: #D8C7B0;
	font-family: 'atlas';
	font-size: 3em;
}

#project_atypi
{
	width: 100%;
	height: auto;
	padding: 0px;
	margin: 0px;
	margin-top: 5em;
}

.atypi
{
	max-width: 1024px;
	height: auto;
	margin: 0px auto;
}



.product_detail_right_01
{
	width: 100%;
	height: auto;
	background: url("../images/atypi2019toyko_images/20240404_135058.png") no-repeat;
	background-size:contain;
	background-position: center;
	line-height:15em;
}

.product_detail_right_02
{
	width: 100%;
	height: auto;
	background: url("../images/atypi2019toyko_images/20240404_135138.png") no-repeat;
	background-size:contain;
	background-position: center;
	line-height:10em;
}

.product_detail_text
{
	max-width: 1024px;
	height: auto;
	margin: 0px auto;
}

.product_detail_right
{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-column-gap: 2em;
	margin-top: 2em;
	margin-bottom: 2em;
}

@media only screen and (max-width: 1024px) 
{
	.banner{grid-template-columns: auto;}
	.banner_right{padding-bottom:20em;}
	.the_great_wave_off_kanagawa
	{
		grid-template-columns: auto;
		grid-template-areas:  "kanagawa_right" "kanagawa_left";
		grid-gap: 3em;
	}
	.kanagawa_right
	{
		line-height: 30em;
	}
	.banner_title{font-size: 3em}

	.banner_text{
		font-size: 1.2em;
	}

	.logo{background-position: center;}
	.logo:hover{background-position: center;}
}