
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Bebas+Neue&family=Bitter:wght@600;900&family=Cantora+One&family=Inknut+Antiqua:wght@800&family=Londrina+Solid:wght@300&family=Ma+Shan+Zheng&family=Neuton:wght@800&family=Noto+Sans+SC:wght@500&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Orienta&family=Passion+One&family=Patua+One&family=Radio+Canada:wght@300&family=Righteous&family=Roboto&family=Rubik:wght@300&family=Share&family=ZCOOL+QingKe+HuangYou&family=ZCOOL+XiaoWei&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Arimo:wght@400;600&family=Markazi+Text&family=Orbitron:wght@500&family=Roboto+Slab&family=Rowdies&family=Tourney:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css?family=Amatic+SC:400,700');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');



.footer{color: white;}


.demo::-webkit-scrollbar {
	display: none; 
}

.demo {
	scrollbar-width: none; 
	-ms-overflow-style: none; 
	overflow-x: hidden;
	overflow-y: auto;
}

#wrap
{
	font-size: 0.5em;
}


body
{
	font-family: 'Helvetica';
	text-align:center; 
	margin:0px auto; 
	padding:auto;
	scrollbar-width: none; 
	-ms-overflow-style: none; 
	overflow-x: hidden;
	overflow-y: auto;
	scroll-behavior:smooth;
	background: black;
	
	
}

a{
	text-decoration:none;
	color: white;
	font-family: 'Orbitron', sans-serif; 
	font-size: 3em;
	
}

ul{
	margin: 0px;
	padding: 0px;
}

ul li{
	 list-style: none;
}

 
#section
{
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 100%;
	background-color:rgba(0,0,0,1.00);
}


#section1
{
	text-align: center;
	font-size:6em;
	font-family: 'Tourney', cursive;
	background-color:rgba(0,0,0,1.00);
	width: 100%;
	height: 900px;
	color: rgba(253,253,253,1.00);
	padding-top: 300px;
	overflow: hidden;
	align-items: center;
	animation: blink 3s infinite;
	
}

@keyframes blink {
	0%,
	22%,
	36%,
	75% {
	 color: rgba(253,253,253,1.00);
	 text-shadow: 0 0 1rem #7FFFD4, 0 0 2.5rem #81D8D0;
	}
	28%,
	33% {
		color: rgba(253,253,253,1.00);
		text-shadow: none;
	}
	82%,
	97% {
		color: rgba(253,253,253,1.00);
		text-shadow: none;
	}
}

#section1 span
{
	animation: blink2 3s infinite;
}


@keyframes blink2 {
	0%,
	22%,
	36%,
	75% {
	 color: rgba(253,253,253,1.00);
	 text-shadow: 0 0 1rem #7FFFD4, 0 0 2.5rem #81D8D0;
	}
	28%,
	33% {
		color: rgba(0,0,0,1.00);
		text-shadow: none;
	}
	82%,
	97% {
		color: rgba(253,253,253,1.00);
		text-shadow: none;
	}
}


#section2
{
	font-family: 'Roboto Slab', serif;
	text-align: center;
	font-size:4em;
	background-color:rgba(0,0,0,1.00);
	width: 100%;
	height: 900px;
	padding-top: 300px;
	color: rgba(253,253,253,1.00);
	overflow: hidden;
	align-items: center;
	animation: text-shadow 1.5s ease-in-out infinite;
	
	 
}

@keyframes text-shadow {
		0% {  
				transform: translateY(0);
				text-shadow: 
						0 0 0 #D0FF71, 
						0 0 0 #A3D63A, 
						0 0 0 #99D61B, 
						0 0 0 #E5FAB8;
		}

		20% {  
				transform: translateY(-1em);
				text-shadow: 
						0 0.125em 0 #D0FF71, 
						0 0.25em 0 #A3D63A, 
						0 -0.125em 0  #99D61B, 
						0 -0.25em 0 #E5FAB8;
		}

		40% {  
				transform: translateY(0.5em);
				text-shadow: 
						0 -0.0625em 0 #D0FF71, 
						0 -0.125em 0 #A3D63A,  
						0 0.0625em 0  #99D61B, 
						0 0.125em 0 #E5FAB8;
		}
		
	 60% {
				transform: translateY(-0.25em);
				text-shadow: 
						0 0.03125em 0 #A3D63A, 
						0 0.0625em 0 #A3D63A, 
						0 -0.03125em 0 #A3D63A, 
						0 -0.0625em 0 #A3D63A, 
		}

		80% {  
				transform: translateY(0);
				text-shadow: 
						0 0 0 #D0FF71, 
						0 0 0 #A3D63A, 
						0 0 0 #99D61B, 
						0 0 0 #E5FAB8;
		}
}

#section3 /*time*/
{
	text-align: center;
	font-size:7vw;
	width:12em;
	height:5em;
	color: rgba(253,253,253,0.50);
	overflow: hidden;
	align-items: center;
	font-family: 'Orbitron', sans-serif; 
	background-image: linear-gradient(#aa96da,#5ccccc);
	padding-top:280px;
	animation: se3time 3s infinite;
	border:4vh inset #FFFFFF;
	border-radius: 2vw;
	margin: 0px auto;
	margin-top: 1em;
	margin-bottom: 1em;
}


@keyframes se3time
{
	 0%  {background-image: linear-gradient(pink,#aa96da,#5ccccc);color: rgba(253,253,253,0.10);}
	25%  {background-image: linear-gradient(#5ccccc,#aa96da,pink);color: rgba(253,253,253,0.25);}
	50%  {background-image: linear-gradient(pink,#aa96da,#5ccccc);color: rgba(253,253,253,0.50);}
	100% {background-image: linear-gradient(#5ccccc,#aa96da,pink);color: rgba(253,253,253,1.00);}
}

#section4
{
	font-size:8em;
	background-color:black;
	text-align: center;
	width: 100%;
	height: 900px;
	color: yellow;
	padding-top: 400px;
	padding-left: 600px;
		box-sizing: border-box;
	display: flex;
		justify-content: center;
		align-items: center;
		min-height: 100vh;
	position: relative;
		overflow: hidden;
}

#section4 span 
{
	 position: relative;
	 display: inline-block;
	 text-transform: uppercase;
	 animation: section4 2s infinite;
	 animation-delay: calc(.2s * var(--i));
}

@keyframes section4 
{
	
	0%,80% { transform: rotateY(360deg); }
	
}

#section5
{
	text-align: center;
	font-size:6.5em;
	width: 100%;
	height: 900px;
	color: rgba(253,253,253,0.50);
	overflow: hidden;
	align-items: center;
	padding-top: 300px;
	position: relative;
}

#section5 span
{
	font-family: 'Alfa Slab One', cursive;
	position: relative;
	display: inline-block;
	color: #fff;
	text-transform: uppercase;
	animation: waviy 1s infinite;
	animation-delay: calc(.1s * var(--i));
	overflow: hidden;
}

@keyframes waviy {
	0%,40%,100% {
		transform: translateY(0)
	}
	20% {
		transform: translateY(-20px)
	}
}

#section6
{
	text-align: center;
	width: 100%;
	height: 900px;
	color:#FFEB6B;
	overflow: hidden;
	align-items: center;
	padding-top: 300px;
	margin-bottom: 40px;
	animation: section6 2s ease infinite;

	
}

@keyframes section6 {
	0% {
	 
		font-size: 10vw;
		background: url("https://c8.alamy.com/comp/2A3CKF9/explosion-vector-illustration-retro-pop-art-background-with-dots-light-rays-2A3CKF9.jpg") center;
	background-size: contain;
	background-clip: text;
	-webkit-background-clip: text;
		color: transparent;

 
	}

	25% {
		color: yellow;
		font-size: 30vw;
		background: url("https://c8.alamy.com/comp/2A3CKF9/explosion-vector-illustration-retro-pop-art-background-with-dots-light-rays-2A3CKF9.jpg") center;
		background-size: contain;
		background-clip: text;
		-webkit-background-clip: text;
		color: transparent;
	}

	50% {
		color: yellow;
		font-size: 40vw;
	 
		background: url("https://c8.alamy.com/comp/2A3CKF9/explosion-vector-illustration-retro-pop-art-background-with-dots-light-rays-2A3CKF9.jpg") center;
	background-size: contain;
	background-clip: text;
	-webkit-background-clip: text;
		color: transparent;
	}
	
	100% 
	{
		
		 font-size: 10vw;
			background: url("https://c8.alamy.com/comp/2A3CKF9/explosion-vector-illustration-retro-pop-art-background-with-dots-light-rays-2A3CKF9.jpg") center;
	background-size: contain;
	background-clip: text;
	-webkit-background-clip: text;
		color: transparent;
	}
	
}

#section7
{
	text-align: center;
	font-size:6em;
	background-color:rgba(0,0,0,1.00);
	width: 100%;
	height: 900px;
	color: rgba(253,253,253,1.00);
	padding-top: 300px;
	overflow: hidden;
	align-items: center;
	animation: blink3 3s infinite;
	animation-delay: -3s;
}

@keyframes blink3 {
	0% {color:rgba(255,255,255,1.00);}
	20% {color:rgba(255,255,255,0.20);}
	50% {color:rgba(255,255,255,0.50);}
	100%{color:rgba(0,0,0,1.00);}
}

#section8
{
	width:100%;
	height: 900px;
	position: relative;
	animation:section8move 7s infinite;
	color: #FFFFFF;
	font-size: 6em;
	font-family: 'Arimo', sans-serif;
	padding-top: 400px;
	overflow: hidden;
}


#section8 span
{
	font-family: 'Abril Fatface', cursive;
	
}


@keyframes section8move
{
	from {left:-100vw;}
	to {left:100vw;}
}


#section9
{
	width:100%;
	height: 900px;
	position: relative;
	color:#FFFFFF;
	font-size: 7em;
	padding-top: 300px;
	animation: section9color 3s infinite;
	letter-spacing: 0.2rem;

}


@keyframes section9color
{
	0% {
			 color: #FFFFFF;
			 transform: translateY(80%);
			 opacity: 0;
			}
	
	25% {
			 color: yellow;
			 opacity: 0;
			}
	
	50% {
				color: pink;
			opacity: 1;
				transform: translateY(0%);
			}
	
	 100% 
	{
		
			 color: yellow;
		 opacity: 1;
			 transform: translateY(0%);
		}
	
}

#section10
{
	text-align: center;
	font-size:4em;
	font-family: 'Arimo', sans-serif;
	width: 100%;
	height: 900px;
	color: rgba(253,253,253,1.00);
	padding-top:400px;
	overflow: hidden;
	line-height:1.5em;

	
}

#section16
{
	
	text-align: center;
	font-size:4em;
	font-family: 'Arimo', sans-serif;
	width: 100%;
	height: 900px;
	color: rgba(253,253,253,1.00);
	padding-top:400px;
	overflow: hidden;
	background-color:#8406A9 ; 
}


#section11
{
	text-align: center;
	font-size:5em;
	width: 100%;
	height: 900px;
	color: rgba(253,253,253,1.00);
	padding-top:400px;
	overflow: hidden;
	align-items: center;
	animation-name: spin, depth;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-duration: 6s;
	
}

@keyframes spin {
	0% {
		transform: rotateY(0deg);
	}
	100% {
		transform: rotateY(-360deg);
	}
}
@keyframes depth {
	0% {
		text-shadow: 0 0 black;
	}
	25% {
		text-shadow: 1px 0 black, 2px 0 black, 3px 0 black, 4px 0 black, 5px 0 black;
	}
	50% {
		text-shadow: 0 0 black;
	}
	75% {
		text-shadow: -1px 0 black, -2px 0 black, -3px 0 black, -4px 0 black,
			-5px 0 black;
	}
	100% {
		text-shadow: 0 0 black;
	}
}


#section12
{
	text-align: center;
	font-size:4em;
	font-family: 'Roboto Slab', serif;
	width: 100%;
	height: 900px;
	color:chocolate;
	padding-top:400px;
	overflow: hidden;
	background-color:rgba(255,255,255,1.00);
	line-height: 4em;
}



#section14
{
	width: 100%;
	height:8em;
	margin: auto;
	display: block;
	background-color:white;
	color: black;
	font-size: 3em;
	padding-top: 3em;
		
}

#section14 p
{
		width: 600px;
		height: 8em;
		animation: section14 infinite 4s;
}

@keyframes section14
{
	 from {padding-left: 100%;}
	 to {padding-left: 0%;}
}


#section15
{
	text-align: center;
	font-size:4em;
	width: 100%;
	height: 900px;
	color:#ffffff;
	padding-top:400px;
	overflow: hidden;
	animation: theend 2s infinite;
}

@keyframes theend {
	from {
			 font-size: 20em;
	}
 
	to {
		font-size: 5em;
	}
}

#section13 /*back to top*/
{
	text-align: center;
	font-size:1em;
	width: 400px;
	height: 100%
	padding-top:400px;
	overflow: hidden;
	margin:0px auto; 
	margin-top: 60px;
	border: 10px solid;
	border-image-slice: 1;
	border-image-source: linear-gradient(to left, #7FFFD4, #FFFD91);
	margin-bottom: 10vw;
	padding: 10px;

}

#section17
{
		 width: 850px;
		 height: 500px;
		 background: white;
		 border: 10px black;
		 margin: 50px;
		 margin-left:960px;
		 padding: 30px;
		 border: 10px black;
		 border-radius: 2vw;

}

.pic
{
	width: 300px;
	height: 450px;
	border: 5px black;
	display: block;
	border-style: solid;
	float: left;
	margin-top: 10px;

}

.section17_circles
{
	margin: 0px;
	padding: 0px;
	height: 200px;
	width: 200px;
	background-color: black;
	border-radius: 50%;
	display: inline-block;
	margin-top: 10px;
}

.section17_triangle
{

	margin: 0px;
	padding: 0px;
	width: 0px;
	height: 0px;
	border: 150px solid transparent;
	border-top: 0;
	border-bottom: 240px solid black;

 
}

.section17_text
{
	width: 350px;
	height: 450px;
	border: 5px black;
	display: block;
	float: right;
	margin-top: 10px;
	font-size: 2em;

}

.section17_text li
{

width: 350px;
height: 4em;
text-align: left;
margin-top:10px;

}

#section18
{
  width:100%;
	height: 900px;
	position: relative;
	color: #FFFFFF;
	font-family: 'Arimo', sans-serif;
	padding-top: 400px;
	overflow: hidden;

}

#section18 h1
{
	color: yellow;
	animation: lucky 3s infinite;
	font-size:6em;

}

@keyframes lucky
{
	 0% {
      transform: rotateY(-25deg);
    }
    25% {
      transform: translateY(2%) rotateY(25deg);
    }
    50% {
      transform: rotateY(-25deg);
    }
    75% {
      transform: translateY(4%) rotateY(25deg);
    }
    100% {
      transform: rotateY(-25deg);
    }
  
}


#section18 span
{
		width:100%;
	height: 900px;
	position: relative;
	animation:thetrain 10s infinite;
	color: #FFFFFF;
	font-size:5em;
	overflow: hidden;
}

@keyframes thetrain
{
	from {left:-100vw;}
	to {left:100vw;}
}

@font-face 
{
    font-family: 'fonts';
    src: url('fonts/brankovic.ttf'),
         url('fonts/Cataclysmic.ttf'),
         url('fonts/Helvetica.ttf'),
         url('fonts/Bodoni.ttf'),
         url('fonts/atlas.TTF') ; 
}

 
 