
#wrap
{ 
	width:100%;
	height: auto;
	/*background: url("../images/coffee_images/coffeeposter.jpg") no-repeat;
	background-size:cover;
	background-position:top;*/
	text-align: center;
	background: black;
}

 d
 
#coffe_poster
 {
 	width: 100%;
 	height: auto;
 	padding: 0px;
 	margin: 0px;
 }

img
{
	width:100%;
	height: auto;
	margin: 0px auto;
	text-align: center;
}


#coffe_footer
{
    bottom: 0px;
    width:100%;
    height: auto;
    text-align: center;
    font-family: 'Helvetica';
    src:url("fonts/Helvetica-Bold.ttf");
    text-transform: capitalize; 
    font-size: 1em;
    margin: 0px auto;
    color:black;
    line-height:4em;
}

