body{background: #37282F;}

#contact_me
{
	width: 100%;
	height: auto;
	color: white;
	font-family: 'Helvetica';
	margin-top: 5em;
}

.contents_title
{
	width: 100%;
	height: auto;
	margin: 0px;
	padding: 0px;
	color: #FFB439;
	font-size: 4em;
	font-family:'brankovic';
	border-bottom: 3px dotted #FFB439;
	text-align: center;
	padding-bottom: 0.3em;

}

form
{
	margin-top: 2em;
}


input,textarea
{
	width: 100%;
	height: auto;
}

label
{
	line-height: 2em;
	color: #FFB439;

}

.textbox
{
	margin-bottom: 1em;
}


.submit_button
{
	text-align: center;
	padding: 0px;
	margin: 0px auto;
}

.submit_button button
{
	background: #FFB439;
	color: white;
	border: none;
	line-height: 1.5em;
	width:6em;
	border-radius: 5%;
	font-size: 1.2em;
	line-height: 2em;
	text-align: center;
	
}

.submit_button button:hover
{
	background:white;
	color: black;
}

