#navs{font-weight: bold;}
#header a:hover {color: #E96034;}
#header a {color:black;}
#home a:hover {color:black;}
#home a {color:#E96034;}


.logo:hover
{
	background: url("../images/home_images/logo_pink.png") no-repeat;
	background-position: left;
    background-size: contain;
}

.logo
{
	background: url("../images/home_images/logo_black.png") no-repeat;
    background-position: left;
    background-size: contain;
}

#footer
{
	color: #0C1228;
}

#column
{
	max-width: 1024px;
	font-family: 'Helvetica';
	padding:1em;	
}

.column
{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 5em;
	margin: 0px auto;
}

.column3
{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-column-gap: 3em;
}

.poster1
{
	padding: 0px;
	margin: 0px;
	background: url("../images/i_logo_images/01.jpg") no-repeat;
	background-position:center;
	background-size:contain;
	line-height:40em;
}

.poster2
{
	padding: 0px;
	margin: 0px;
	background: url("../images/i_logo_images/02.jpg") no-repeat;
	background-position:center;
	background-size:contain;
	line-height:40em;
}

.poster3
{
	padding: 0px;
	margin: 0px;
	background: url("../images/i_logo_images/04.jpg") no-repeat;
	background-position:center;
	background-size:contain;
	line-height:20em;
}

.poster4
{
	padding: 0px;
	margin: 0px;
	background: url("../images/i_logo_images/05.jpg") no-repeat;
	background-position:center;
	background-size:contain;
	line-height:20em;
}

.poster5
{
	padding: 0px;
	margin: 0px;
	background: url("../images/i_logo_images/06.jpg") no-repeat;
	background-position:center;
	background-size:contain;
	line-height:20em;
}


.poster6
{
	padding: 0px;
	margin: 0px;
	background: url("../images/i_logo_images/03.jpg") no-repeat;
	background-position:center;
	background-size:cover;
	line-height:30em;
}


.describe_title
{
	font-size: 1.5em;
	font-weight: bold;
	color: #292C63;
	margin-top: 2em;
	font-family: 'bodoni';
	text-transform: uppercase;
}

.describe_text
{
	line-height: 2em;
}

.text_bold
{
	font-weight: bold;
	text-transform: uppercase;
}

.text_italic
{
	font-style: italic;
}

 
@media only screen and (max-width:1024px) 
{
	.column{grid-template-columns: auto;}
	.logo{background-position: center;}
	.logo:hover{background-position: center;}
	.poster1{line-height: 20em}
	.poster2{line-height: 20em}

}