#navs{font-weight: bold;}
#header a:hover {color: #C11F1D;}
#header a {color: #333333;}
#home a:hover {color: #333333;}
#home a {color:#C11F1D;}

.logo:hover
{
  background: url("../images/home_images/logo_black.png") no-repeat;
  background-position: left;
    background-size: contain;
}

.logo
{
  background: url("../images/home_images/logo_red.png") no-repeat;
    background-position: left;
    background-size: contain;
}


.slideshow-container {
    max-width: 1024px;
    position: relative;
    margin: auto;
  }

  .mySlides {
    display: none;
  }

  .mySlides img {
    width: 100%;
    height: auto;
  }

  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: #333333;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
  }

  .next 
  {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  .prev:hover, .next:hover {
    background-color:#C11F1D;
    color: white;
  }

  .text {
    color: #C11F1D;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }

  .numbertext {
    color: red;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }

  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color:#5B5B5B;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }

  .active, .dot:hover {
    background-color: #C11F1D;
  }



#footer
{
  color:#C11F1D;
}

 

@media only screen and (max-width:1024px) 
{

  .logo{background-position: center;}
  .logo:hover{background-position: center;}

}

#project
{
  max-width: 1024px;
  height: auto;
  margin: 0px auto;
  padding: 0px;
  margin-top: 3em;
  font-family: 'Helvetica';
}

.describe_title
{
  font-size: 3em;
  font-weight: bold;
  color: #C11F1D;
  margin-top: 2em;
  font-family: 'bodoni';
  text-transform: uppercase;
}

.describe_text
{
  line-height: 2em;
}

.text_bold
{
  font-weight: bold;
  color:  #C11F1D;
  text-transform: uppercase;
}