
.dropbtn
{
  border: none;
  color: white;
  font-family: 'Helvetica';
  font-size: 1.1em;
  font-weight: bold;
  background: #37282F;

}

botton
{
  border: none;
}


.dropdown-content 
{
  display: none;
  line-height: 3em;
}

.dropdown-content a 
{
  color: black;
  text-decoration: none;
  color: white;

}

.dropdown-content a:hover {
  color: #FFB439;
}

.dropdown:hover .dropdown-content 
{
  display: block;
  text-transform: uppercase;

}

.dropdown:hover .dropbtn
{
  color: orange;
  text-decoration: underline;
  text-decoration-thickness:0.2em;
}

