.design1_img
{
   background:url("../design_img/design_img_01.jpg");

}

.design2_img
{
   background:url("../design_img/design_img_02.jpg");

}

.design3_img
{
   background:url("../design_img/design_img_03.jpg");

}

.design4_img
{
   background:url("../design_img/design_img_04.jpg");

}

.design5_img
{
   background:url("../design_img/design_img_05.jpg");

}

.design6_img
{
   background:url("../design_img/design_img_06.jpg");

}


.design7_img
{
   background:url("../design_img/design_img_07.jpg");

}


.design8_img
{
   background:url("../design_img/design_img_08.jpg");

}


.design9_img
{
   background:url("../design_img/typography_8.jpg");

}

.design10_img
{
   background:url("../design_img/typography_1.jpg");

}

.design11_img
{
   background:url("../design_img/typography_11.jpg");

}

.design12_img
{
   background:url("../design_img/typography_4.jpg");

}

.design13_img
{
   background:url("../design_img/typography_5.jpg");

}

.design14_img
{
   background:url("../design_img/typography_6.jpg");

}

.design15_img
{
   background:url("../design_img/typography_7.jpg");

}

.design16_img
{
   background:url("../design_img/design_img_logo3.jpg");

}

.design17_img
{
   background:url("../design_img/design_img_logo4.jpg");

}

.design18_img
{
   background:url("../design_img/weather_icons.jpg");

}

.design19_img
{
   background:url("../design_img/illustration_1.jpg");

}


.design20_img
{
   background:url("../design_img/illustration_3.jpg");

}


.design21_img
{
   background:url("../design_img/illustration_4.jpg");

}

.design22_img
{
   background:url("../design_img/AI video.gif");

}

.design23_img
{
   background:url("../design_img/3d model.gif");

}

.design24_img
{
   background:url("../design_img/animtion.png");

}

.design25_img
{
   background:url("../design_img/video.png");

}

.design26_img
{
   background:url("../design_img/web design.png");

}

.design27_img
{
   background:url("../design_img/game design web.png");

}

.design28_img
{
   background:url("../design_img/3d model3.JPG");

}

.design29_img
{
   background:url("../design_img/3d model5.jpg");

}

.design30_img
{
   background:url("../design_img/3d model4.png");

}

.design31_img
{
   background:url("../design_img/3d model2.png");

}

.design32_img
{
   background:url("../design_img/Photoshopped2.jpg");

}

.design33_img
{
   background:url("../design_img/Photoshopped.webp");

}

.design34_img
{
   background:url("../design_img/CAD_1.jpeg");

}

.design35_img
{
   background:url("../design_img/2d game design3.gif");

}

.design36_img
{
   background:url("../design_img/2d game design2.gif");

}

.design37_img
{
   background:url("../design_img/2d game design.png");

}

.design38_img
{
   background:url("../design_img/3d game design.png");

}



.design39_img
{
   background:url("../design_img/bio.png");

}

.design40_img
{
   background:url("../design_img/doc.png");

}

.design41_img
{
   background:url("../design_img/web3.png");

}
.design42_img
{
   background:url("../design_img/2d game design4.png");

}