@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Bebas+Neue&family=Bitter:wght@600;900&family=Cantora+One&family=Inknut+Antiqua:wght@800&family=Londrina+Solid:wght@300&family=Ma+Shan+Zheng&family=Neuton:wght@800&family=Noto+Sans+SC:wght@500&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Orienta&family=Passion+One&family=Patua+One&family=Radio+Canada:wght@300&family=Righteous&family=Roboto&family=Rubik:wght@300&family=Share&family=ZCOOL+QingKe+HuangYou&family=ZCOOL+XiaoWei&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gabarito&family=Merriweather:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=ABeeZee&family=Akshar&family=Gabarito&family=Merriweather:wght@700&family=Roboto&display=swap');

-webkit-transform:rotate(-3deg);  
-moz-transform:rotate(-3deg);  
-ms-transform:rotate(-3deg);  
-o-transform:rotate(-3deg);  
transform:rotate(-3deg); 


* {box-sizing: border-box;}


html, body, #app
{
	padding: 0px;
	margin: 0px;
	color: white;
	min-width: 1024px;
	-webkit-text-size-adjust: 100%;
}

ul
{
  list-style: none;
}

a{
	text-decoration: none;
	color: #f5c400;
}

a:hover
{
	text-decoration: underline;

}

 

#logo_img a:hover
{
	text-decoration: none;

}




#blue_bg
{
	width: 100%;
	padding: 0px;
	margin: 0px;
	text-align: center;
	height: auto;
	background: #001840;

}

#wrap
{
	max-width: 1024px;
	margin: 0px auto;
	padding: 1em;
	padding-top: 0px;
	height: auto;

}

.header span a
{
	color: #f5c400;
}

.header span a:hover
{
	color: white;
}

 
.header a
{
	color: white;
}

.header a:hover
{
	color: #f5c400;
}

@media (min-width:360px)
{
.logo
	{
		padding: 0px;
		margin: 0px;
		line-height: 3em;
		height: auto;
		background: url("../images/xiaoyi_logo.png") no-repeat;
		background-position:center;
		background-size:contain;
		display: block;
		text-align: left;
	}

 
	#header
{

	margin: 0px;
	padding: 0px;
	font-family: 'Merriweather', serif;
	background: #001840;
	padding-left: 1em;
	padding-top: 1em;
	line-height: 3em;

}
	.header
	{
		display: grid;
		grid-template-columns:repeat(6, 1fr);
		grid-template-areas: "logo blank home nav1 nav2 nav3";
	}

		#banner
	{
		margin: 0px;
		max-width: 100%;
		background: url("../images/portfolio_website_design.png") no-repeat 0px 0px;
		height:25em;
		background-position: top right;
		background-size:25em;
		margin-top: 1em;
 
	}


	.banner_text
	{
		text-align: left;
		padding-left: 2em;
		font-size: 2em;
		padding-top: 2.5em;
	}



#banner_textsize
	{
		color: #f5c400;
		font-size: 3em;
	}



}





	

@media (max-width:540px)
{


	#header
	{

		margin: 0px;
		font-family: 'Merriweather', serif;
		background: #001840;
		padding-top: 1em;

	}

	.header
	{
		padding: 0px;
		margin: 0px;

		display: grid;
		grid-gap: 0.5em;
		grid-template-columns:auto;
		grid-template-areas: 
		"logo home nav1 nav2 nav3";
		font-size:0.8em;
		height:auto;
    text-align: center;
		line-height: 1em;
	}



		#banner
	{
		margin: 0px;
		max-width:100%;
		background: url("../images/banner.png") no-repeat 0px 0px;
		height:640px;
		background-position: center;
		background-size: 100%; 
	}

		.banner_text
	{
			visibility: hidden;
	}

	.footer_title_mid
	{
		font-size: 1em;
	}




}


.mainbody
	{
		padding: 1em;
		margin: 0px auto;
		padding-top: 2em;
		max-width: 1024px;
		height: auto;
		display: grid;
		color:#001840;
		gap: 1em;		
		font-family: 'Roboto', sans-serif;
	}

.mainbody span
{
	color: #001840;
	font-size: 1.5em;
	text-transform: uppercase;
	font-weight: bold;
	padding-top: 1em;

}

h1
{
	text-transform: uppercase;
	color: orange;
}


 

.mainbody_text
{
	padding-top: 1.5em;
}
